@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body {
  background-color: floralwhite;
  color: black;
  margin:0px 2px;
}

.navbar{
  background-color: floralwhite;
  padding: 12px;
  align-items: center;
  margin-bottom: 4px;
  box-shadow: 0px 0px 4px black;
  position: sticky;
  top: 0;
}
a{
  margin-right: 6px;
  padding: 5px;
  margin-inline-start:45px;
}
.image{
  display: block;
  margin-left: auto;
  margin-right:auto
}
.stick{
  box-shadow:0px 2px 3px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.top{
  background-color:floralwhite;
}
.nav{
  border-top: 1px solid gray;
  padding: 4px;
  background-color: floralwhite;
}
.van{
  margin-inline-end: auto;
}
.img{
  width:200px;
  height: 200px;
  object-fit:cover;
}
.card{
  display:flex;
  text-align: center;
  
}
.ctitle{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  
}
.button{
  margin-left:22px;
  margin-top: 4px;
  position:inherit;
  border-radius:12px;
  fill:blue;
}
.column{
  float: left;
  width:max-content;
  justify-content:space-between;
  margin-right: 16px;
  margin-bottom: 10px;
  margin-top: 4px;
  margin-left: 2px;
  outline-style:groove;
  outline-color: floralwhite;
  border-radius: 10px;
}
.div{
  justify-content: space-between;
}