@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: black;
  overflow: scroll;
}
a{
  margin-right: 6px;
  padding: 5px;
  margin-inline-start:20px;
}
.image{
  display: block;
  margin-left: auto;
  margin-right:auto
}
.img{
  width:200px;
  height: 200px;
  object-fit:cover;
}
.button{
  width:100%;
  margin-top: 2px;
  border-radius:12px;
}
.column{
  float: left;
  width:max-content;
  height:315px;
  justify-content:space-between;
  margin-top:13px;
  margin-left: 2px;
  margin-right: 9px;
  outline-style:ridge;
  outline-color:azure;
  border-radius: 12px;
  background-color:cornsilk;
}
.navbar{
  box-shadow: 0px 0px 4px black;
  margin-bottom:4px;
}
.about{
  padding: 14px;
  box-shadow: 0px 0px 4px rgb(8, 9, 9);
  margin-bottom: 6px;
}
.navcontent{
  position:absolute;
  right:15px;
}
.space{
  margin-bottom: 65px;
}

@media only screen and (max-width:500px) {
  .navbar{
    width:auto;
  }
  .img{
    width:200px;
    height:85px;
    object-fit:cover;
  }
  .column{
    width:170px;
    height:200px;
    justify-content:flex-start;
    display:flex;
  }
  .text{
    font-size:small;
  }
  .price{
    margin-left: 10px;
  }
  .text-l{
    font-size: small;
  }
  p.fashion{
    display:none;
  }
  .coverimage{
    width:50%;
  }
}
.dropdown{
  background:azure;
  max-width:max-content;
}
.login{
  max-width:125px;
}
.card{
  width:350px;
  height:auto;
}
.trends{
  object-fit: cover;
}
.coverimage{
  border-radius: .7rem;
  width:70%;
}
.table{
  width:28%;
  margin-left: 5px;
  float:right;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px black;
}
.landing{
  aspect-ratio: 4/1;
  margin: 2px;
  width: 100%;
  height: auto;
  display:flex;
}