@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: floralwhite;
  color: black;
  margin:0px 2px;
}

.navbar{
  background-color: floralwhite;
  padding: 12px;
  align-items: center;
  margin-bottom: 4px;
  border-bottom:1px solid grey;
  box-shadow: 0px 0px 4px black;
}
a{
  margin-right: 6px;
  padding: 5px;
  margin-inline-start:45px;
}
.image{
  display: block;
  margin-left: auto;
  margin-right:auto
}
.stick{
  box-shadow:0px 2px 3px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.top{
  background-color:floralwhite;
}
.nav{
  border-top: 1px solid gray;
  padding: 4px;
  background-color: floralwhite;
}
.van{
  margin-inline-end: auto;
}
.img{
  width:200px;
  height: 200px;
  object-fit:contain;
}
.card{
  max-width:max-content;
  display: flex;
  flex-flow: column;
  height:100;
}
.ctitle{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}