.card{
    margin:0;
    padding:0;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px black;
    background:transparent;
    color: white;
    outline-width: 1px;
    
}
.wrapper{
    background-color: darkslategrey;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a{
    color: skyblue;
}
a:hover{
    outline-color:skyblue;
    outline-width: 1.5px;
    text-decoration: underline;
}
.remember{
    margin-top: 6px;
}
.card h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size:35px;
    font-weight: 600;
}
.input{
    width:100%;
    height:60px;
    margin:8px 0;
    padding:4px 45px 4px 4px;
    background:transparent;
    outline-style:solid;
    outline-color: honeydew;
    outline-width:1px;
    border-radius: 10px;
}
.icon{
    position:absolute;
    right: 25px;
    margin-top: 40px;
}
.eye{
    margin-left: 6px;
    width:20px;
}
.btn{
    position: absolute;
    right:55px;
    margin-top: 40px;
    color: white;
    font-size: 10px;
    border-radius:100px;
    height:20px;
}